@model Cleaner

    <link href="~/css/CleanerForm.css" rel="stylesheet" />

    <form asp-action="CleanerDetail" method="post">
        <div class="container contact">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-info">
                        <h2>Apply with Us</h2>
                        <h4>We would love to hear from you !</h4></br>
                        <img src="~/images/cleaner.JPG" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="contact-form">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="fname">First Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fname" placeholder="Enter First Name" asp-for="@Model.FirstName" required>
                                <span asp-validation-for="@Model.FirstName" class="text-danger field-validation-error"></span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" asp-for="@Model.Email" required>
                                <span asp-validation-for="@Model.Email" class="text-danger field-validation-error"></span>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Location:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="location" placeholder="Enter Location" asp-for="@Model.Location" required>
                                <span asp-validation-for="@Model.Location" class="text-danger field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Certification number: </label>
                            <div class="col-sm-10">

                                <input type="text" class="form-control" id="Certificate" placeholder="Enter certification number" asp-for="@Model.Certificate" required>
                                <span asp-validation-for="@Model.Certificate" class="text-danger field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Bank Account: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bank" placeholder="Enter your account" asp-for="@Model.BankAccount" required>

                            </div>
                            <span asp-validation-for="@Model.BankAccount" class="text-danger field-validation-error"></span>
                        </div>
                       
                        <fieldset>
                            <label class="control-label col-sm-3">Experience Level: </label>
                            <select id="myList" asp-for="@Model.ExperienceLevel" required>
                                <option value=""></option>
                                <option value="High">High</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Beginner">Beginner</option>
                            </select>
                            <span asp-validation-for="@Model.ExperienceLevel" class="text-danger field-validation-error"></span>

                        </fieldset>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">Submit</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>