@model IEnumerable<Cleaner>

@foreach (var item in Model)
{
<form asp-action="SelectingCleaner" method="post">
    <input type="hidden" name="CleanerId" value="@item.CleanerId" />
    <p>@item.FirstName</p>
    <p>@item.Email</p>
    <p>@item.CleanerId</p>
    <p>@item.Location</p>
    <p>@item.Morning</p>
    <p>@item.Afternoon</p>
    <p>@item.Evening</p>
    <p>@item.Night</p>
    <p>@item.Weekends</p>
    <button type="submit">Select</button>
</form>
}
<form asp-action="SelectingCleaner" method="post">
    <input type="hidden" name="CleanerId" value=@Model.First().CleanerId />
    <button type="submit" class="btn btn-success col-lg-12">Choose For me</button>
</form>



