@model IEnumerable<Cleaner>

<link href="~/css/selectCleaner.css" rel="stylesheet" />
<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2>Cleaners availables</h2>
        </div>
        <ul class="row justify-content-center">

            @foreach (var item in Model)
            {
                <form asp-action="SelectingCleaner" class="card" method="post">
                    <div class="wrapper">
                        @if (@item.CleanerId == 1) // Mary
                        {
                            <figure class="fig">
                                <img src="~/images/maria.jpg" />
                            </figure>

                        }

                        else if (@item.CleanerId == 2) //Jhosua
                        {

                            <figure class="fig">
                                <img src="~/images/jhosua.jpg" />
                            </figure>

                        }
                        else if (@item.CleanerId == 3) // Rob
                        {

                            <figure class="fig">
                                <img src="~/images/rob.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 4) // Peter
                        {
                            <figure class="fig">
                                <img src="~/images/peter.jpg" />
                            </figure>

                        }
                        else if (@item.CleanerId == 5) // Maria
                        {
                            <figure class="fig">
                                <img src="~/images/maria.jpg" />
                            </figure>
                        }
                        else if (@item.CleanerId == 6) // Jake
                        {
                            <figure class="fig">
                                <img src="~/images/jake.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 7) // Sophy
                        {
                            <figure class="fig">
                                <img src="~/images/sophy.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 8) // Noah
                        {
                            <figure class="fig">
                                <img src="~/images/noah.JPG" />
                            </figure>
                        }
                        else if (@item.CleanerId == 9) // Mia
                        {
                            <figure class="fig">
                                <img src="~/images/mia.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 10) // Federic
                        {
                            <figure class="fig">
                                <img src="~/images/federic.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 11) // Emma
                        {
                            <figure class="fig">
                                <img src="~/images/emma.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 12) // George
                        {
                            <figure class="fig">
                                <img src="~/images/george.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 13) // Jhon
                        {
                            <figure class="fig">
                                <img src="~/images/jhon.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 14) // Annie
                        {
                            <figure class="fig">
                                <img src="~/images/annie.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 15) // Steven
                        {
                            <figure class="fig">
                                <img src="~/images/steven.JPG" />
                            </figure>

                        }
                        else if (@item.CleanerId == 16) // Ava
                        {
                            <figure class="fig">
                                <img src="~/images/ava.JPG" />
                            </figure>

                        }
                        else
                        {
                            <figure class="fig">
                                <img src="~/images/others.JPG" />
                            </figure>

                        }
                        <div class="small-4 columns">
                            <div class="wrapper">
                                <div class="fig">
                                    <h4>@item.FirstName</h4>
                                    <h5>@item.Email</h5>
                                    <h5>Experience: @item.ExperienceLevel</h5>
                                    <input type="hidden" name="CleanerId" value=@Model.First().CleanerId />
                                    <button class="button btn btn-info btn-lg align-content-md-start" type="submit">Confirm</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            }
        </ul>
    </div>
    <div class="fig p-5">
        <form asp-action="SelectingCleaner" method="post">
            <input type="hidden" name="CleanerId" value=@Model.First().CleanerId />
            <button type="submit" class="btn btn-info col-lg-12">Choose For me</button>
            <br />
        </form>
    </div>
</section>





