@model Order

<link href="~/css/Booking.css" rel="stylesheet" />
<script src="~/js/ServiceDetails.js"></script>
<script src="~/js/BookingPrice.js"></script>


<body>
    <div id="all-page">
        <article>
            <div class="justify-content-center">
                <h2 class="text-black-50"><i class="far fa-calendar-alt fa-4x"></i>Booking Service</h2>
            </div>
            <p class="font-weight-normal justify-content-center">
                Our Booking service cleaner provides a high quality of service,
                first, you have to pick one of the locations in the Dropdown area,
                then you pick the day and the period of time you need a cleaner. After that,
                you choose the day and we will provide the total Price for the service<br />
            </p>
            <form method="post" asp-action="ServiceDetail">
                <div class="card-group">

                    @*Location*@
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Select Location</h5>
                            <p class="card-text">Here you can selec the desired location of the service.</p>
                            <fieldset>
                                <select id="myList" asp-for="@Model.Location" required>
                                    <option value=""></option>
                                    <option value="Toronto">Toronto</option>
                                    <option value="York">York</option>
                                    <option value="Durkham">Durkham</option>
                                    <option value="Peel">Peel</option>
                                    <option value="Halton">Halton</option>
                                </select>
                                <span asp-validation-for="@Model.Location" class="text-danger field-validation-error"></span>
                                <br /><br /><br /><br />
                            </fieldset>
                        </div>
                    </div>
                    @*Calendar*@
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Select the date</h5>
                            <p class="card-text ">Here you can select the preferred date of the service.</p>

                            <div class="center2">
                                <input class="col-lg-8" id="service-day" type="date" asp-for="@Model.ServiceDay" value="<?php echo date('Y-m-d'); ?>" required>
                            </div>
                            <br />

                            <span asp-validation-for="@Model.ServiceDay" class="text-danger field-validation-error"></span>
                        </div>
                    </div>
                    @*Time*@
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Select the period of time that you need</h5>
                            <p class="card-text">Here you can choose the period of time that best fits you</p>
                            <fieldset>
                                <select id="MyTime" asp-for="@Model.ShiftTime" required>

                                    <option disabled selected>--Choose The Time prefered--</option>

                                    <option value="Morning">Morning</option>

                                    <option value="Afternoon">Afternoon</option>

                                    <option value="Evening">Evening</option>

                                    <option value="Night">Night</option>

                                </select>
                                <span asp-validation-for="@Model.ShiftTime" class="text-danger field-validation-error"></span>
                                <br /><br /><br /><br />
                            </fieldset>
                        </div>
                    </div>
                </div>
                @*Second row of cards*@
                <div class="card-group">
                    @*Duration*@
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">How long do you need your cleaner for?</h5>
                            <p class="card-text">Here you can choose the time that best fits you</p>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-danger">
                                    <input type="radio" asp-for="@Model.Duration" value="1" id="option1" onclick="bookingPrice()"> 1 hour
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" asp-for="@Model.Duration" value="2" id="option2" onclick="bookingPrice()"> 2 hours
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" asp-for="@Model.Duration" value="3" id="option3" onclick="bookingPrice()"> 3 hours
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" asp-for="@Model.Duration" value="4" id="option4" onclick="bookingPrice()"> 4 hours
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" asp-for="@Model.Duration" value="5" id="option5" onclick="bookingPrice()"> 5 hours
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" asp-for="@Model.Duration" value="6" id="option6" onclick="bookingPrice()"> 6 hours
                                </label>
                            </div>
                            <br />
                            <span asp-validation-for="@Model.Duration" class="text-danger field-validation-error"></span>
                        </div>
                    </div>
                    @*Calculation and display of total*@
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <h5 class="card-title">Total Price</h5>
                                <div class="center2">
                                    <p class="btn-light col-lg-12 font-weight-bold " id="result">
                                    </p>
                                </div>
                                <br /><br />
                            </div>
                            <div class="center">
                                <button class="btn btn-danger btn-lg " type="submit">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </article>
    </div>
</body>




