
@model Cleaner

<p>THANK YOU FOR applying!</p>

<p>Firt Name: @Model.FirstName</p>
@*<p>Email: @Model.Email</p>*@
<p>Location: @Model.Location</p>
<p>Certificate: @Model.Certificate</p>

@*<p>CustomerID: @Model.CustomerId</p>
    <p>OrderID:@Model.OrderId</p>
    <p>Location: @Model.Location</p>
    <p>Duration: @Model.Duration</p>*@

@*<p>@Model.CustomerId</p>
    <p>@Model.OrderId</p>
    <p>@Model.Location</p>*@
<a href="/Home/Index">New Service</a>
