
@model Cleaner

<p>THANK YOU FOR applying!</p>

<p>First Name: @Model.FirstName</p>
@*<p>Email: @Model.Email</p>*@
<p>Location: @Model.Location</p>
<p>Certificate: @Model.Certificate</p>
<p>Experience Level: @Model.ExperienceLevel</p>

<a href="/Home/Index">New Service</a>
