
@model Order


<br />


            <h2><i class="fas fa-ambulance fa-3x"> </i><br />
            Emergency Service</h2>

    <br />
<div class="text-center justify-content-lg-start">    
                Our Emergency service cleaner provides a very fast and quality of services<br />
                first, you have to pick one of the locations in the dropdown area,<br />
                then you select how long you need a cleaner, and you will see the total price<br />
                of the service and go to your locations as soon as possible
            </p>

 </div>
        <h4>How long do you need your cleaner for?</h4>
        <br />

   
        <form method="post" asp-action="ServiceDetail">
            <fieldset>
                <legend>Select Location</legend>
                <select id="myList" asp-for="@Model.Location" required>
                    <option value=""></option>
                    <option value="Toronto">Toronto</option>
                    <option value="York">York</option>
                    <option value="Durkham">Durkham</option>
                    <option value="Peel">Peel</option>
                    <option value="Halton">Halton</option>
                </select>
                <br /><br />
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-danger">
                        <input asp-for="@Model.Duration" type="radio" id="option1" value="1"> 1 hour
                    </label>
                    <label class="btn btn-danger">
                        <input asp-for="@Model.Duration" type="radio" id="option2" value="2"> 2 hours
                    </label>
                    <label class="btn btn-danger">
                        <input asp-for="@Model.Duration" type="radio" id="option3" value="3"> 3 hours
                    </label>
                    <label class="btn btn-danger">
                        <input asp-for="@Model.Duration" type="radio" id="option4" value="4"> 4 hours
                    </label>
                    <label class="btn btn-danger">
                        <input asp-for="@Model.Duration" type="radio" id="option5" value="5"> 5 hours
                    </label>
                    <label class="btn btn-danger">
                        <input asp-for="@Model.Duration" type="radio" id="option5" value="6"> 6 hours
                    </label>
                </div><br /><br />
                <button class="btn btn-danger" type="submit">Continue</button>
            </fieldset>
        </form>
     
    </div>



